/*Set minimum window size to preserve the desired design*/
html{
    min-width: 750px;
    color: #06aa48;
}
/* Header*/
header .upper-header{
    display: flex;
    background-color: #05903d;
}
/*Header Logo and Slogan*/
header .upper-header div:first-child{
    flex-grow: 1;
    width: auto;
}
/*Header Logo*/
header .upper-header div:first-child img{
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 50px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.611);
}
/*Header Slogan*/
header .upper-header div:first-child h2{
    margin-left: 20px;
    color: #f6f6f6;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.611);
}
/*Header Search Bar*/
header .upper-header div:nth-child(2){
    width: auto;
    text-align: right;
    margin-right: 10%;
    margin-top: 70px;
}
header .upper-header div:nth-child(2) input{
    height: 30px;
    width: 400px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.611);
}
header .upper-header div:nth-child(2) button{
    height: 35px;
    width: 35px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.611);
}
/*Header Nav Bar*/
header .lower-header{
    text-align: right;
    margin-right: 10%;
    background-color: #f6f6f6;
    width: 100%;
    height: 40px;
    border-bottom: 3px solid black;
}
header .lower-header nav a{
    padding: 40px;
    text-decoration: none;
}
/*Nav bar Icons*/
header .lower-header nav i{
    padding-right: 5px;
    margin-top: 10px;
}

/*Product image*/
section.product .product-images{
    display: flex;
    width: 50%;
    height: 600px;
}
section.product div.product-images figure img{
    height: 80%;
    width: 90%;
    min-width: 250px;
    border: 5px solid black;
    margin-top: 10%;
    box-shadow: 3px 2px #888888;
}
/*Product smaller images list*/
section.product div.product-images ul li img{
    height: 120px;
    width: 120px;
    padding: 18px;
}
section.product div.product-images ul li img:hover{
transform: scale(1.2);
}
section.product div.product-images ul li{
    list-style: none;
    border: 2px solid #888888;
    box-shadow: 3px 2px #888888;
    margin: 2px 3px;
}
/*T-shirt Color options*/
/*Create circles to showcase the available colors*/
main section div .tshirt-color {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
}
/*Set circles to apropriate colors, and make the selection grow when mouse hover*/
main .product-image div .tshirt-color:hover{
    transform: scale(1.2);
}
.sample-color span:nth-of-type(1) {
    background-color: black;
}
.sample-color span:nth-of-type(2) {
    background-color: pink;
}
.sample-color span:nth-of-type(3) {
    background-color: red;
}
.sample-color span:nth-of-type(4) {
    background-color: darkblue;
}
/*footer*/
footer{
    border-top: 3px solid black;
    margin-top: 5px;
    background-color: #05903d;
    height: 50px;
}
